@import '~styles/main';

:root {
  --sliding-bar-size: 2px;
}

.tabWrapper {
  width: 100%;
}

.tabNavigation {
  position: relative;
  display: flex;
  border-bottom: var(--sliding-bar-size) solid var(--theme-tab-divider);
  margin-bottom: 36px;
}

.tabButton {
  @include body-text;

  color: var(--theme-text);
  padding: 0 0 15px 0;
  font-weight: $font-weight-regular;
  margin-right: 54px;
  transition: color 0.2s ease-out 0.05s;
  cursor: pointer;

  &.isSelected {
    font-weight: $font-weight-regular;
    color: $color-primary;
    cursor: auto;
  }

  &.isDisabled {
    cursor: not-allowed;
    color: var(--theme-text-disabled);
  }
}

.slidingBar {
  width: 100px;
  height: var(--sliding-bar-size);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $color-primary;
  transition: left 0.1s ease-out;
  margin-bottom: calc(-1 * var(--sliding-bar-size));
}
