@import '~styles/main';

.icon {
  &.left {
    margin-left: -2px;
    margin-right: 6px;
  }

  &.right {
    margin-left: 6px;
    margin-right: -2px;
  }

  svg {
    width: auto;
    max-height: 24px;
  }

  &.small svg {
    max-height: 16px;
  }
}

.button {
  &.default,
  &.large {
    @include button;
  }

  &.small {
    @include button($padding: $gutter / 2);

    height: $button-height-small;
    font-size: 14px;
    font-weight: $font-weight-regular;
    line-height: 1;
    box-shadow: 0 0 0 1px var(--theme-text);
  }

  &.red {
    @include primary-bg;

    .icon {
      color: $color-white;
    }

    &:hover:active {
      @include primary-bg;
    }

    @media (pointer: fine) {
      &:hover,
      &:focus {
        @include dark-bg;
      }
    }
  }

  &.transparent,
  &.arrow {
    @include transparent;

    &:hover,
    &:focus {
      .icon {
        color: $color-primary;
      }
    }

    &:hover:active {
      @include primary-bg;

      .icon {
        color: $color-white;
      }
    }

    @media (pointer: fine) {
      &:hover,
      &:focus {
        color: $color-primary;

        @include border-red;
      }
    }
  }

  &.borderRed {
    @include border-red;

    background: white;

    &:hover:active {
      @include dark-bg;
    }

    @media (pointer: fine) {
      &:hover,
      &:focus {
        @include primary-bg;
      }
    }
  }

  &.white {
    @include white-bg;

    @media (pointer: fine) {
      &:hover,
      &:focus {
        @include dark-bg;
      }
    }
  }

  &.circle {
    padding: ($button-height - 2) / 2;
    width: $button-height - 2;
    height: $button-height - 2;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &.small.circle {
    padding: $button-height-small / 2;
    width: $button-height-small;
    height: $button-height-small;
  }

  &.disabled {
    pointer-events: none;
    background: var(--theme-divider);
    color: var(--theme-text-light);
  }

  @media (pointer: fine) {
    transition: all 0.15s $ease-out-quad;
  }
}

.iconWrap {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &.circle {
    position: absolute;
  }
}

.buttonGroup {
  display: flex;

  > * {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  &.isFlex {
    display: flex;

    button {
      flex: 1;
    }
  }
}
