@import '../../../styles/variables.scss';

.heading_wrapper {
  overflow: hidden;

  @media all and (min-width: 767px) {
    display: flex;
  }

  @media all and (min-width: 1440px) {
    padding: 0 0 78px 134px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.heading_wrapper_rtl {
  @media all and (min-width: 1440px) {
    padding: 0 134px 78px 0;
  }
}

.heading_content {
  position: relative;
  overflow: hidden;
  z-index: 10;
  background-image: url('../../../assets/svg/heading-background.svg');
  background-position-y: 80%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  padding: 30px 24px 0 24px;
  width: 100%;

  @media all and (min-width: 767px) {
    padding: 30px 0 30px 48px;
    background-position: left;
  }

  @media all and (min-width: 1440px) {
    background-image: unset;
    padding: 30px 0 0 0;
    min-width: 530px;
  }

  h1 {
    margin-bottom: 16px;
    color: $ebony_clay;
    width: 100%;

    @media all and (min-width: 767px) and (max-width: 1439px) {
      font-size: 40px;
      line-height: 50px;
    }
  }

  p {
    margin-bottom: 24px;
    color: $scorpion;
    padding-right: 40px;

    @media all and (min-width: 1161px) {
      margin-bottom: 48px;
      padding-right: unset;
      line-height: 32px;
      color: $comet;
    }
  }
}

.heading_image {
  position: relative;
  z-index: 5;
  max-width: 100vw;
  display: none;

  @media all and (min-width: 767px) {
    width: 100%;
    margin-top: 50px;
    display: block;
  }

  @media all and (min-width: 1160px) {
    overflow: visible;
  }
}

.heading_scroll {
  display: flex;
  justify-content: center;

  @media all and (min-width: 1160px) {
    display: none;
  }

  img { /* stylelint-disable-line no-descending-specificity */
    z-index: 1;

    &:active {
      opacity: 0.8;
    }
  }
}

.heading_container {
  @media all and (min-width: 1160px) {
    background-image: url('../../../assets/svg/home-background-gray.svg'), url('../../../assets/svg/heading-background-line.svg');
    background-size: contain, 47%;
    padding-top: 180px;
    overflow: hidden;
    background-repeat: no-repeat, no-repeat;
    background-position-x: right, 46%;
    background-position-y: top, -49px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.heading_scroll_down {
  @media all and (max-width: 1160px) {
    display: none;
  }

  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  p {
    font-size: 18px;
    color: $ebony_clay;
    font-weight: 500;
    margin-bottom: unset;
    margin-left: 16px;
  }
}

.heading_scroll_down_rtl {
  p {
    margin-left: unset;
    margin-right: 16px;
  }
}
