@import '~styles/main';

$box-margin: 18px;

.titleContainer {
  padding: 23px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    margin: 0;
  }
}

.descriptionContainer {
  padding: 0 30px;
  font-size: 14px;
  color: #5c5855;
  line-height: 20px;
}

.content {
  flex: 1;
  padding: 0 23px 23px 23px;
}

.box {
  background-color: white;
  border: 1px solid $color-porcelain;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: $box-margin;

  &.tight {
    .titleContainer {
      padding: 17px 24px 5px;
    }

    .descriptionContainer {
      padding: 0 24px;
    }

    .content {
      padding: 0 24px 24px;
    }
  }

  &.spaceRight {
    margin-right: $box-margin;
  }

  &.spaceLeft {
    margin-left: $box-margin;
  }
}
