@import '../../styles//variables';

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 600;
  bottom: 0;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_close {
  display: none;

  @media all and (min-width: 1161px) {
    display: block;
    font-size: 30px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    z-index: 22;
  }
}

.modal_background_blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100vh;
  max-width: 100vw;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.modal_content {
  background: #252532;
  max-height: 100vh;
  z-index: 21;
  width: 100%;
  max-width: 880px;
  overflow: scroll;

  @media all and (min-width: 1161px) {
    max-height: 95vh;
    width: fit-content;
    box-shadow: 0 15px 30px rgba(35, 35, 64, 0.1);
    position: relative;
    overflow: scroll;
    border-radius: 20px;
  }
}

.overflow_modal {
  overflow: visible;
}

.modal_container {
  padding: 0 24px;
  background-image: url('../../assets/svg/career-path.svg');
  background-repeat: no-repeat;
  background-position: bottom left;

  @media all and (min-width: 1161px) {
    padding: 0 48px 0 48px;
    margin-bottom: 48px;
    background-image: none;
  }
}

.modal_width {
  @media all and (min-width: 1161px) { width: 880px; }
}

.newsletter_content_spacing {
  @media all and (min-width: 1161px) {
    padding: 0 0 0 48px;
  }
}

.modal_container_back {
  display: flex;
  align-items: center;
  padding-top: 62px;

  @media all and (min-width: 1161px) {
    display: none;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }

  h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
  }

  img {
    margin-right: 8px;
  }
}

.modal_container_content {
  margin-top: 46px;

  h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #fff;
    margin-bottom: 32px;

    @media all and (min-width: 1161px) {
      font-size: 20px;
      letter-spacing: -1px;
    }
  }
}

.modal_image {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 45px;

  @media all and (min-width: 1161px) {
    display: none;
  }
}

.modal_submitted_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 48px;

  @media all and (min-width: 767px) and (max-width: 1160px) {
    padding-top: 120px;
    height: calc(100vh - 148px);
    background-image: url('../../assets/png/klokan-vacation-second-pose.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  @media all and (min-width: 1161px) {
    padding-top: 120px;
    margin-top: unset;
    padding-bottom: 253px;
    background-image: url('../../assets/png/klokan-vacation-second-pose.png');
    background-size: 80%;
    background-position-x: -60px;
    background-position-y: 100px;
    background-repeat: no-repeat;
    margin-bottom: -48px;
  }

  img {
    margin-bottom: 16px;
  }

  h3 {
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 24px;
  }

  button {
    border: 1px solid #3c3c45;
    color: #c0c1dc;
    background: #252532;
    padding: 12px 16px;
    border-radius: 10px;
  }
}

.modal_submited_image {
  height: calc(100vh - 277px);
  overflow: hidden;

  @media all and (min-width: 767px) {
    display: none;
  }

  @media all and (min-width: 1161px) {
    display: none;
  }

  img {
    width: 100%;
  }
}

.newsletter_wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('../../assets/png/subscribe-modal-background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  flex-direction: column;

  @media all and (min-width: 1161px) {
    max-height: 244px;
    overflow: visible;
    margin: 0 auto;
    background-image: linear-gradient(73.71deg, #232340 1.77%, #161638 95.81%);
    border-radius: 20px;
    min-width: 750px;
  }
}

.modal_newsletter_back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-left: 48px;
  padding-right: 48px;
  max-width: 458px;

  @media all and (min-width: 1161px) {
    display: none;
  }
}

.newsletter_image {
  display: none;

  @media all and (min-width: 1161px) {
    position: absolute;
    top: -48px;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: block;
  }
}

.modal_newsletter_subscribe {
  z-index: 20;
  margin-bottom: unset;
}
