@import '~styles/main';

:root {
  --bar-height: 72px;
}

.actionBar {
  padding: 5px 20px;
  position: fixed;
  top: calc(100vh - var(--bar-height));
  left: 0;
  height: var(--bar-height);
  z-index: $z-index-fourth;
  width: 100vw;
  border: 1px solid $color-porcelain;
  background-color: $color-white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 2px 30px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
